
* a:hover {
    color: blue;
}

body {
    background-color: #FEF9D9;
}

h1 {
    color: #DEE5D4;
    background-color: #f3eecb;
    padding: 4px;
}

.nav li {
    list-style: none;
}

.nav a {
    color: #9c9fa7;

}

.nav a:hover {
    color: blue;
}

.main {
    margin-left: 50px;
}

.main * {
    display: block;
    color: black;
    max-width: 400px;
}

.main ul div {
    max-width: 400px;
}
.main ul {
    margin: 0;
    padding: 0;
}


.main h2 {
    color: #DEE5D4;
}

.TRAP a {
    margin: 4px;
}

.DIRO div {
}

.groups-top li {
    margin: 4px;
}

footer {
    background-color: #f3eecb;
    font-size: smaller;
    margin-top: 50px;
}

footer ul {
    padding: 10px;
    
}

footer li {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: #c0c4ce;
}

footer a:hover {
    color: blue;
}

.main a {
    display: inline;
}